<div class="comment" id="comment-<%= comment.id %>">
    <div class="comment-left">
        <div class="comment-user">
            <%= render "shared/username", user: comment.user%>
            <% if comment.user == current_user %>
                <%= render "comments/edit_delete_links", comment: comment, post: comment.post %>
            <% end %>
        </div>
        <div class="comment-content">
            <%= comment.content %>
        </div>
    </div>
    <div class="comment-likes comment-<%= comment.id %>-likes">
        <% if current_user.likes.where(likeable: comment).empty? %>
            <%= render "likes/like_link", likeable: comment, like_count_on_left: true %>
        <% else %>
            <%= render "likes/unlike_link", like: current_user.likes.where(likeable: comment).first, like_count_on_left: true %>
        <% end %>
    </div>
</div>