<div class="comment" id="comment-<%= comment.id %>">
    <div class="comment-left">
        <div class="comment-user">
            <%= render "shared/username", user: comment.user%>
            <% if comment.user == current_user %>
                <%= render "comments/edit_delete_links", comment: comment, post: comment.post %>
            <% end %>
        </div>
        <div class="comment-content">
            <%= comment.content %>
        </div>
    </div>
    <div class="comment-likes comment-<%= comment.id %>-likes">
        <% if current_user.likes.where(likeable: comment).empty? %>
            <%= link_to(comment_likes_path(comment), method: :post, remote: true, class: "like-link") do %>
                <i class="far fa-heart"></i>
            <% end %>
        <% else %>
            <%= link_to(like_path(current_user.likes.where(likeable: comment).first), method: :delete, remote: true, class: "unlike-link", id: "unlike-" + current_user.likes.where(likeable: comment).first.id.to_s) do %>
                <i class="fas fa-heart"></i>
            <% end %>
        <% end %>
    </div>
</div>