<div class="margin-top-50 margin-bottom-50">
    <%= render "posts/post", post: @post %>
</div>

<%= simple_form_for([@post, @comment], url: post_comments_path(@post)) do |f| %>
    <div class="content-form">
        <%= f.input :content, label: "Write a new comment", minlength: 1, wrapper_html: { class: "comment-input" } %>
        <%= f.submit class: "btn btn-outline-primary" %>
    </div>
<% end %>

<h2 class="comment-header"> Comments </h2>

<hr>

<div class="comments">
    <% @comments.each do |comment| %>
        <%= render "comment", comment: comment %>
    <% end %>
</div>
