<div class="post">
    <% if post.user == current_user %>
        <%= render "posts/post_header_editable_deletable", user: current_user, post: post %>
    <% else %>
        <%= render "posts/post_header", user: post.user %>
    <% end %>
    <div class="post-content">
        <%= post.content %>
    </div>
    <div class="post-footer">
        <div class="post-likes likeable-<%= post.id %>">
            <% if current_user.likes.where(likeable: post).empty? %>
                <%= link_to(post_likes_path(post), method: :post, remote: true, class: "like-link") do %>
                    <i class="far fa-heart"></i>
                    <%= post.likes.count %>
                <% end %>
            <% else %>
                <%= link_to(like_path(current_user.likes.where(likeable: post).first), method: :delete, remote: true, class: "unlike-link", id: "unlike-" + current_user.likes.where(likeable: post).first.id.to_s) do %>
                    <i class="fas fa-heart"></i>
                    <%= post.likes.count %>
                <% end %>
            <% end %>
        </div>
        <div class="post-comments">
            <%= link_to(new_post_comment_path(post), class: "comment-link") do %>
                <i class="far fa-comment"></i>
                <%= post.comments.count%>
            <% end %>
        </div>
    </div>
</div>