<div class="post" id="post-<%= post.id %>">
    <% if post.user == current_user %>
        <%= render "posts/post_header_editable_deletable", user: current_user, post: post %>
    <% else %>
        <%= render "posts/post_header", user: post.user %>
    <% end %>
    <div class="post-content"><%= post.content %></div>
    <div class="post-footer">
        <div class="post-likes post-<%= post.id %>-likes">
            <% if current_user.likes.where(likeable: post).empty? %>
                <%= render "likes/like_link", likeable: post, like_count_on_left: false %>
            <% else %>
                <%= render "likes/unlike_link", like: current_user.likes.where(likeable: post).first, like_count_on_left: false %>
            <% end %>
        </div>
        <div class="post-comments">
            <%= link_to(new_post_comment_path(post), class: "comment-link") do %>
                <i class="far fa-comment"></i>
                <%= post.comments.count%>
            <% end %>
        </div>
    </div>
</div>